<app-user-navbar></app-user-navbar>
<body class="commonBackground">
<div class="container">
  <h1 class="titleCenter pt-2">Book Flight</h1>
    <div class="registration-form">
      <form class="col-6">
        <div class="row m-2 form-group">
          <div class="col-4">
            <label>Flight Type :</label>
          </div>
          <div class="col-4">
            <input type="radio" #typeradio1 [(ngModel)]='bookFlight.flight_type' name="flightType" value="One Way" (change)="clearFinalAmount()"> One Way   
          </div>
          <div class="col-4">
            <input type="radio" #typeradio2 [(ngModel)]='bookFlight.flight_type' name="flightType" value="Round Trip" (change)="clearFinalAmount()"> Round Trip   
          </div>
        </div>
        <div class="m-2 form-group">
          <input type="text" name="from_location" [(ngModel)]='bookFlight.from_location' class="form-control item" placeholder="Enter From Location" id="fromLocation">
        </div>
        <div class="m-2 form-group">
          <input type="text" name="to_location" [(ngModel)]='bookFlight.to_location' class="form-control item" id="toLocation" placeholder="Enter To Location">
        </div>
        <div class='m-2 form-group date'>
          <input type='text' class="form-control item" id='dtpickerdemo' />
        </div>
        <div class="m-2 form-group">
          <small class="ms-2">Onward Journey : </small>
          <input type="datetime-local" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" required style="margin-top: 0.5%;" name="onward_journey_date" [(ngModel)]='bookFlight.onward_journey_date' class="form-control item" id="onwardJourney" Placeholder="Select Onward Journey Date">
        </div>
        <div class="m-2 form-group">
          <small class="ms-2">Return Journey : </small>
          <input type="datetime-local" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" style="margin-top: 0.5%;" name="return_journey_date" [(ngModel)]='bookFlight.return_journey_date' class="form-control item" id="returnJourney">
        </div>
        <div class="row m-1">
          <div class="col-6">
            <small>Onward Flight Ticket Rate :</small>
            <table class="table" id="dataTable">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Airline</th>
                  <th scope="col">Price</th>
          
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="radio" [(ngModel)]='bookFlight.onward_flight_rate' name="onwardFlightRate" value="IndiGo 2990" (change)="onSelectionOnway()"></td>
                  <td>IndiGo</td>
                  <td>2990</td>
                </tr>
                <tr>
                  <td><input type="radio" [(ngModel)]='bookFlight.onward_flight_rate' name="onwardFlightRate" value="AirIndia 1900" (change)="onSelectionOnway()"></td>
                  <td>Air India</td>
                  <td>1900</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-6">
            <small>Return Flight Ticket Rate :</small>
            <table class="table" id="dataTable">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Airline</th>
                  <th scope="col">Price</th>
          
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="radio" [(ngModel)]='bookFlight.return_flight_rate' name="returnFlightRate" value="IndiGo 1990" [disabled] ="typeradio1.checked == true" (change)="onSelectionReturnTicket()"></td>
                  <td>IndiGo</td>
                  <td>1990</td>
                </tr>
                <tr>
                  <td><input type="radio" [(ngModel)]='bookFlight.return_flight_rate' name="returnFlightRate" value="AirIndia 1500" [disabled] ="typeradio1.checked == true" (change)="onSelectionReturnTicket()"></td>
                  <td>Air India</td>
                  <td>1500</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="ms-2 form-group">
          <small class="ms-2">Onward Trip Meal : </small>
          <select style="margin-top: 0.5%;" name="onward_meal" [(ngModel)]='bookFlight.onward_meal' id="onwardMeal" class="form-select item">
            <option value="">Select the meal...</option>
            <option value='Lunch Veg'>Lunch Veg</option>
            <option value='Breakfast-Lunch Veg'>Breakfast-Lunch Veg</option>
            <option value='Lunch Non-Veg'>Lunch Non-Veg</option>
            <option value='Breakfast-Lunch Non-Veg'>Breakfast-Lunch Non-Veg</option>
          </select>
        </div>
        <div class="m-2 form-group">
          <small class="ms-2">Return Trip Meal : </small>
          <select style="margin-top: 0.5%;" name="return_meal" [(ngModel)]='bookFlight.return_meal' id="returnMeal" class="form-select item">
            <option value="">Select the meal...</option>
            <option value='Lunch Veg'>Lunch Veg</option>
            <option value='Breakfast-Lunch Veg'>Breakfast-Lunch Veg</option>
            <option value='Lunch Non-Veg'>Lunch Non-Veg</option>
            <option value='Breakfast-Lunch Non-Veg'>Breakfast-Lunch Non-Veg</option>
            </select>
        </div>
        <div class="row ms-1">
          <div class="col-8 form-group">
            <input type="text" name="discount" [(ngModel)]='bookFlight.discount' placeholder="Enter Discount Code" class="form-control item" id="discount">
          </div>
          <div class="col-4 form-group">
            <button class="btn btn-primary c-button" (click)="applyDiscount(bookFlight.discount)">Apply</button>
          </div>
        </div>
        <div class="m-2 form-group">
          <input type="text" name="onward_seat" [(ngModel)]='bookFlight.onward_seat' placeholder="Enter Onward Seat" class="form-control item" id="onwardSeat">
        </div>
        <div class="m-2 form-group">
          <input type="text" name="return_seat" [(ngModel)]='bookFlight.return_seat' placeholder="Enter Return Seat" class="form-control item" id="returnSeat">
        </div>
        <div class="m-2 form-group">
          <small class="ms-2">Final Flight Ticket Rate :</small> {{totalRate}}
          <input type="text" style="margin-top: 0.5%;" name="final_flight_rate" readonly [(ngModel)]='bookFlight.final_flight_rate' class="form-control item" id="finalFlightRate">
        </div>
        <div class="m-2 form-group">
          <button (click)="saveTicket()" class="btn btn-primary c-button">Checkout</button>
        </div>
      </form>
    </div>
</div>
<script type="text/javascript">
  $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
</script> 
</body>
