<app-user-navbar></app-user-navbar>
<div style="text-align:center"><h3>Book Flights</h3></div>
<div class="container">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="row m-2 form-group">
          <div class="col-4">
            <label>Flight Type :</label>
          </div>
          <div class="col-4">
            <input type="radio" #typeradio1 [(ngModel)]='bookFlight.flight_type' name="flightType" value="One Way" (change)="clearFinalAmount()"> One Way   
          </div>
          <div class="col-4">
            <input type="radio" #typeradio2 [(ngModel)]='bookFlight.flight_type' name="flightType" value="Round Trip" (change)="clearFinalAmount()"> Round Trip   
          </div>
        </div>
        <div class="m-2 form-group">
          <label>From Location : </label>
          <input type="text" [(ngModel)]='bookFlight.from_location' class="form-control" id="fromLocation">
        </div>
        <div class="m-2 form-group">
          <label>To Location : </label>
          <input type="text" [(ngModel)]='bookFlight.to_location' class="form-control" id="toLocation">
        </div>
        <div class="m-2 form-group">
          <label>Onward Journey : </label>
          <input type="date" [(ngModel)]='bookFlight.onward_journey_date' class="form-control" id="onwardJourney">
        </div>
        <div class="m-2 form-group">
          <label>Return Journey : </label>
          <input type="date" [(ngModel)]='bookFlight.return_journey_date' class="form-control" id="returnJourney">
        </div>
        <div class="row m-1">
          <div class="col-6">
            <h5>Onward Flight Ticket Rate :</h5>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Airline Name</th>
                  <th scope="col">Price</th>
          
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="radio" [(ngModel)]='bookFlight.onward_flight_rate' name="onwardFlightRate" value="IndiGo 2990" (change)="onSelectionOnway()"></td>
                  <td>IndiGo</td>
                  <td>2990</td>
                </tr>
                <tr>
                  <td><input type="radio" [(ngModel)]='bookFlight.onward_flight_rate' name="onwardFlightRate" value="AirIndia 1900" (change)="onSelectionOnway()"></td>
                  <td>Air India</td>
                  <td>1900</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-6">
            <h5>Return Flight Ticket Rate :</h5>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Airline Name</th>
                  <th scope="col">Price</th>
          
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="radio" [(ngModel)]='bookFlight.return_flight_rate' name="returnFlightRate" value="IndiGo 1990" [disabled] ="typeradio1.checked == true" (change)="onSelectionReturnTicket()"></td>
                  <td>IndiGo</td>
                  <td>1990</td>
                </tr>
                <tr>
                  <td><input type="radio" [(ngModel)]='bookFlight.return_flight_rate' name="returnFlightRate" value="AirIndia 1500" [disabled] ="typeradio1.checked == true" (change)="onSelectionReturnTicket()"></td>
                  <td>Air India</td>
                  <td>1500</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="m-2 form-group">
          <label>Onward Trip Meal : </label>
          <select [(ngModel)]='bookFlight.onward_meal' id="onwardMeal" class="form-select">
            <option>Select the meal...</option>
            <option value='Lunch Veg'>Lunch Veg</option>
            <option value='Breakfast-Lunch Veg'>Breakfast-Lunch Veg</option>
            <option value='Lunch Non-Veg'>Lunch Non-Veg</option>
            <option value='Breakfast-Lunch Non-Veg'>Breakfast-Lunch Non-Veg</option>
          </select>
        </div>
        <div class="m-2 form-group">
          <label>Return Trip Meal : </label>
          <select [(ngModel)]='bookFlight.return_meal' id="returnMeal" class="form-select">
            <option>Select the meal...</option>
            <option value='Lunch Veg'>Lunch Veg</option>
            <option value='Breakfast-Lunch Veg'>Breakfast-Lunch Veg</option>
            <option value='Lunch Non-Veg'>Lunch Non-Veg</option>
            <option value='Breakfast-Lunch Non-Veg'>Breakfast-Lunch Non-Veg</option>
            </select>
        </div>
        <div class="row ms-1">
          <div class="col-8 form-group">
            <label>Discount : </label>
            <input type="text" [(ngModel)]='bookFlight.discount' class="form-control" id="discount">
          </div>
          <div class="col-4 form-group mt-4">
            <button class="btn btn-primary" (click)="applyDiscount(bookFlight.discount)">Apply Discount</button>
          </div>
        </div>
        <div class="m-2 form-group">
          <label>Onward Seat : </label>
          <input type="text" [(ngModel)]='bookFlight.onward_seat' class="form-control" id="onwardSeat">
        </div>
        <div class="m-2 form-group">
          <label>Return Seat : </label>
          <input type="text" [(ngModel)]='bookFlight.return_seat' class="form-control" id="returnSeat">
        </div>
        <div class="m-2 form-group">
          <label>Final Flight Ticket Rate : {{totalRate}}</label>
          <input type="text" readonly [(ngModel)]='bookFlight.final_flight_rate' class="form-control" id="finalFlightRate" value={{finalRate}}>
        </div>
        <div class="m-2 form-group">
          <button (click)="saveTicket()" class="btn btn-primary mb-3">Checkout</button>
        </div>
      </div>
    </div>
</div>
