<nav class="navbar navbar-expand-lg navbar-light commonBackground text-dark">
  <div class="container-fluid">
    <ul class="navbar-nav ms-auto titleCenter"><h2>FlightBooking</h2></ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item" >
        <a class="nav-link" href="/admin">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">logout</a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light commonNavColor text-dark">
    <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ps-2">
          <a class="nav-link" routerLink="/add-discount">Manage Discount</a>
        </li>
        <li class="nav-item ps-2">
          <a class="nav-link" routerLink="/manage-airlines">Manage Airlines</a>
        </li>
        <li class="nav-item ps-2">
          <a class="nav-link" routerLink="/manage-flight">Manage Flights</a>
        </li>
        <li class="nav-item ps-2">
          <a class="nav-link" routerLink="/manage-schedule-flight">Manage Schedules</a>
        </li>
      </ul>
    </div>
</nav>
