<app-admin-navbar class="commonBackground"></app-admin-navbar>
<body class="p-2 commonBackground">
<div class="container bg-light">
    <div class="row commonBackground">
      <div class="col-2"></div>
      <div class="col-7 pull-right titleCenter"><h3>Manage Schedule</h3></div>
      <div class="col-3 pull-left"><button class="btn btn-primary"><a class="fs-6 text-light text-decoration-none" href="/manage-flight">Schedule Flights</a></button></div>
    </div>
  </div>
  <div class="container bg-light border">
  <div class="row">
  <table class="table border" style="margin-bottom: 0%;" id="dataTable">
      <thead class="">
        <tr>
            
          <th scope="col">Airline Name</th>
          <th scope="col">From Location</th>
          <th scope="col">To Location</th>
          <th scope="col">Schedule Date Time</th>
          <th scope="col">Flight Status</th>
          <th scope="col">Action</th>
  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schedules of schedules">
          <td>{{schedules.airline_name}}</td>
          <td>{{schedules.fromLocation}}</td>
          <td>{{schedules.toLocation}}</td>
          <td>{{schedules.flight_date}}, {{schedules.flight_time}}</td>
          <td>{{schedules.status}}</td>
          <td class="actionButton">
            <button class="btn btn-primary aM" (click)="updateScheduledFlightStatus(schedules.schedule_id,'Cancelled')">Cancel Booking</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
