<app-admin-navbar class="commonBackground"></app-admin-navbar>
<body class="p-2 commonBackground">
  <div class="container bg-light">
    <div class="row commonBackground">
      <div class="col-1"></div>
      <div class="col-7 pull-left titleCenter"><h3>Manage Airlines</h3></div>
      <div class="col-4 pull-right">
        <button class="btn btn-primary m-2"><a class="fs-6 text-light text-decoration-none" routerLink="/add-airline">New Airline</a></button>
        <button class="btn btn-primary m-2"><a class="fs-6 text-light text-decoration-none" routerLink="/add-ticket">Add Ticket</a></button>
      </div>
  </div>
</div>
<div class="container bg-light border">
  <div class="row">
  <table class="table border" style="margin-bottom: 0%;" id="dataTable">
    <thead>
      <tr>
        <th scope="col">Logo</th>
        <th scope="col">Airline Name</th>
        <th scope="col">Contact</th>
        <th scope="col">Address</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let air of airlines">
        <td>src</td>
        <td>{{air.airline_name}}</td>
        <td>{{air.airline_contact}}</td>
        <td>{{air.airline_address}}</td>
      </tr>
    </tbody>
  </table>
</div>
