<app-admin-navbar></app-admin-navbar>
<div class="container p-2 bg-light border">
  <div class="row">
    <div class="col-9 pull-right" style="text-align:center"><h3>Manage Airlines</h3></div>
    <div class="col-3 pull-left"><button class="btn btn-primary"><a class="fs-6 text-light text-decoration-none" routerLink="/add-airline">Add New Airline</a></button></div>
  </div>
</div>
<div class="container bg-light border">
  <div class="row">
  <table class="table border" style="margin-bottom: 0%;" id="dataTable">
    <thead>
      <tr>
        <th scope="col">Logo</th>
        <th scope="col">Airline Name</th>
        <th scope="col">Contact</th>
        <th scope="col">Address</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let air of airlines">
        <td>src</td>
        <td>{{air.airline_name}}</td>
        <td>{{air.airline_contact}}</td>
        <td>{{air.airline_address}}</td>
        <td class="actionButton"><button class="btn btn-primary mb-1">View Details</button></td>
      </tr>
    </tbody>
  </table>
</div>
