<app-admin-navbar></app-admin-navbar>
<body class="commonBackground">
  <div class="registration-form">
    <h1 class="pb-4 titleCenter">Add Airline</h1>
      <form #addairlineform="ngForm" (ngSubmit)="save();clearForm()" enctype="multipart/form-data">
    
        <div class="m-2 form-group">
          <input type="text" placeholder="Enter Airline Name" name="airline_name" [(ngModel)]='airline.airline_name' class="form-control item" id="airlineName">
        </div>
        <div class="m-2 form-group">
          <small class="ms-2">Upload Logo : </small>
          <input type="file" name="airline_logo" accept="image/*" [(ngModel)]='airline.airline_logo' style="margin-top: 0.5%;" class="form-control item" id="logo" placeholder="Upload Logo">
        </div>
        <div class="m-2 form-group">
            <input type="text" placeholder="Enter Contact Number" name="airline_contact" [(ngModel)]='airline.airline_contact' class="form-control item" id="contactNumber">
          </div>
          <div class="m-2 form-group">
            <input type="textbox" placeholder="Enter Contact Address" name="airline_address" [(ngModel)]='airline.airline_address' class="form-control item" id="contactAddress">
          </div>
        <div class="m-2 form-group">
          <button type="submit" class="btn btn-block c-button">Add Airlines</button>
        </div>
      </form>
</div>
</body>
