<app-user-navbar></app-user-navbar>
<body class="p-2 commonBackground">
<div class="container bg-light">
    <div class="row commonBackground">
      <div class="titleCenter"><h3>Booking History</h3></div>
    </div>
  </div>
  <div class="container bg-light border">
  <div class="row">
  <table class="table border" style="margin-bottom: 0%;" id="dataTable">
      <thead class="">
        <tr>
          <th scope="col">From Location</th>
          <th scope="col">To Location</th>
          <th scope="col">Total Ticket Price</th>
          <th scope="col">Flight Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of bookFlights">
          <td>{{ticket.from_location}}</td>
          <td>{{ticket.to_location}}</td>
          <td>{{ticket.final_flight_rate}}</td>
          <td>{{ticket.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>

