<app-admin-navbar></app-admin-navbar>
<div style="text-align:center"><h3>Book Flights</h3></div>
<div class="container">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="m-2 form-group">
          <label>Discount Code : </label>
          <input type="text" [(ngModel)]='discount.discount_code' class="form-control" id="discoutCode" (ngModelChange)="discount.discount_code = $event.toUpperCase()">
        </div>
        <div class="m-2 form-group">
          <label>Discount (%) : </label>
          <input type="number" [(ngModel)]='discount.discount_percentage' class="form-control" id="discountPercentage">
        </div>
        <div class="m-2 form-group">
          <button (click)="saveDiscount();clearForm()" class="btn btn-primary mb-3">Add Discount</button>
        </div>
      </div>
    </div>
</div>
