<app-admin-navbar class="commonBackground"></app-admin-navbar>
<body class="p-2 commonBackground">
<div class="container bg-light">
    <div class="row commonBackground">
      <div class="col-2"></div>
      <div class="col-7 pull-right titleCenter"><h3>Manage Flight</h3></div>
      <div class="col-3 pull-left"><button class="btn btn-primary"><a class="fs-6 text-light text-decoration-none" href="/add-flight">Add New Flight</a></button></div>
    </div>
  </div>
  <div class="container bg-light border">
  <div class="row">
  <table class="table border" style="margin-bottom: 0%;" id="dataTable">
      <thead class="">
        <tr>
            
          <th scope="col">Airline Name</th>
          <th scope="col">From Location</th>
          <th scope="col">To Location</th>
          <th scope="col">Action</th>
  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let flight of flights">
          <td>{{flight.airline_name}}</td>
          <td>{{flight.fromLocation}}</td>
          <td>{{flight.toLocation}}</td>
          <td class="actionButton">
                <button class="btn btn-primary aM" (click)="getScheduleForm(flight.airline_name,flight.fromLocation,flight.toLocation,flight.flight_id)" href="/schedule-flight">
                  Schedule Flight</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
